<!DOCTYPE html>
{% extends 'temp/base.html' %}  
{% block  body_block%}

    <h1>Welcome to Login!</h1>

    <h3>Filll Out The Form</h3>
    <form action="{% url 'sign:login' %}"  method="POST">
    {% csrf_token %}
    <label>Enter User Name !</label>
    <input type="text" name="name" placeholder="enter username">

    <label> Enter Your Password!</label>
    <input type="Password" name="pass" placeholder="enter your password">

    <input type="submit" class="btn btn-primary" value="Login">

{% endblock  %}